.page-contact {
  .section-bg-gradient {
    .page-wrapper {
      max-width: 100%;
      p:first-child {text-transform: uppercase;letter-spacing: 1px;font-weight: 700}
      p:last-child {font-weight: 300;font-size: 1.6rem;}
    }
  }
}
