.page-single-formation {

  .page-wrapper {
    max-width: 800px;
  }

  footer {
    padding-bottom: 5rem;
  }



  .bandeau-buttons-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $main-color;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
    @include flex-container();

    button, a  {
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 600;
      letter-spacing: 1px;
      background: none;
      text-align: center;
      flex: 0 0 50%;
      padding: 2rem;
      font-size: 1.8rem;
      border-right: 1px solid #ffffff;
      @include transition(0.2s);

      &:hover {background-color: $main-color-dark;@include transition(0.2s);}
    }
  }

  @media(max-width: 767px) {
    .grid-button-infos-formation .column:last-child {
      display: none;
    }
  }


}
