.box-message {
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid transparent;
	position: relative;

	a {text-decoration: underline;}
	h1, h2, h3, h4, h5, h6 {margin-top: 0;font-weight: 600;}

	&:last-child {margin-bottom: 0;}
	& > *:last-child {margin-bottom: 0;}

	&.bg-main-color {
		background-color: $main-color;
		color: #ffffff;
		a, h1, h2, h3, h4, h5, h6 {color: #ffffff;}
	}

	&.bg-green {
		background-color: #dff0d8;
		color: #3c763d;
		a, h1, h2, h3, h4, h5, h6 {color: #3c763d;}
	}

	&.bg-yellow {
		background-color: #fcf8e3;
		color: #8a6d3b;
		a, h1, h2, h3, h4, h5, h6 {color: #8a6d3b;}
	}

	&.bg-red {
		background-color: #f2dede;
		color: #a94442;
		a, h1, h2, h3, h4, h5, h6 {color: #a94442;}
	}

	&.bg-blue {
		background-color: #d9edf7;
		color: #31708f;
		a, h1, h2, h3, h4, h5, h6 {color: #31708f;}
	}

	&.inverse {
		background-color: #ffffff;
		&.bg-green {border-color: #3c763d;}
		&.bg-yellow {border-color: #8a6d3b;}
		&.bg-red {border-color: #a94442;}
		&.bg-blue {border-color: #31708f;}
	}

	&.style-2 {
		background-color: #ffffff;
		border-color: $gray-lighter;
		color: $color-text;
		&.bg-green {
			border-left: 5px solid #3c763d;
			&:before {color: #3c763d;}
		}
		&.bg-yellow {
			border-left: 5px solid #8a6d3b;
			&:before {color: #8a6d3b;}
		}
		&.bg-red {
			border-left: 5px solid #a94442;
			&:before {color: #a94442;}
		}
		&.bg-blue {
			border-left: 5px solid #31708f;
			&:before {color: #31708f;}
		}

	}

	&[class*=fa] {
		padding-left: 75px;
	}

	&:before {
	    position: absolute;
	    left: 20px;
	    top: 50%;
	    @include translateY(-50%);
	    font-family: $icon-font-family;
			font-weight: 900;
	    font-size: 3rem;
	}

	@media(max-width: 640px) {
		&[class*=fa] {
			padding-left: 20px;
		}

		&:before {content: none;}
	}


}


.box-1 {
	@include flex-container();
	@include flex-direction-column();
	background-color: #ffffff;
	box-shadow: 0px 1px 5px -2px rgba(0,0,0,.3);

	h1, h2, h3, h4, h5, h6 {margin-top: 0;margin-bottom: 1rem;}

	.box-1__visual {
		position: relative;

		.hover {
			@include position(absolute, 0,0,0,0);
			@include flex-container();
			align-items: center;
			justify-content: center;
			background-color: rgba(0,0,0,0.1);
			color: #ffffff;
			@include scale(0.9);
			@include transition(0.3s);
			@include opacity(0);
		}
	}

	.box-1__content {
		padding: 2rem;
		background-color: #ffffff;

		.infos {
			span {
				display: inline-block;
				margin-right: 1rem;
				color: $gray-light;
				margin-bottom: 1rem;
				&:last-child {margin-right: 0;}
			}
		}

		h5 {
			@include transition(0.3s);
			color: $gray-darkest;
			& + p {margin-top: 0;}
		}

		p {color: $color-text;}
	}

	&:hover, &:focus  {
		h5 {color: $main-color;@include transition(0.3s);}

    .link-follow {
			text-decoration: underline;
	    &:before {
	      right: -0.5rem;@include transition(0.3s);
	    }
		}

		.box-1-visual {
			.hover {
				@include scale(1);
				@include transition(0.3s);
				@include opacity(1);
				background-color: rgba(0,0,0,0.5);
			}
		}
  }

	&.h-align-left {justify-content: flex-start;}
	&.h-align-middle {justify-content: center;}
	&.h-align-right {justify-content: flex-end;}

	&.v-align-top {align-items: flex-start;}
	&.v-align-middle {align-items: center;}
	&.v-align-bottom {align-items: flex-end;}

	&.horizontal {
		@include flex-direction-row();

		.box-1__visual {
			max-width: 33.3333%;
			flex: 0 0 33.3333%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			justify-content: center;
			align-items: center;
			@include flex-container();
		}

		.box-1__content {

		}

		@for $i from 1 through 100 {
	    @if ($i == 33) {
	      &.w-#{$i} {
					.box-1__visual {
						max-width: 33.3333%;
						flex: 0 0 33.3333%;
					}
				}
	    }

	    @elseif ($i == 66) {
	      &.w-#{$i} {
					.box-1__visual {
						max-width: 66.6667%;
						flex: 0 0 66.6667%;
					}
				}
	    }

	    @else {
	      &.w-#{$i} {
					.box-1__visual {
							max-width: percentage($i / 100);
							flex: 0 0 percentage($i / 100);
					}
				}
	    }
	  }

		&.w-25 {
			.box-1__visual {
				max-width: 25%;
				flex: 0 0 25%;
			}

			.box-1__content {
				max-width: 75%;
				flex: 0 0 75%;
			}
		}

		&.w-50 {
			.box-1__visual {
				max-width: 50%;
				flex: 0 0 50%;
			}

			.box-1__content {
				max-width: 50%;
				flex: 0 0 50%;
			}
		}

		&.w-75 {
			.box-1__visual {
				max-width: 75%;
				flex: 0 0 75%;
			}

			.box-1__content {
				max-width: 25%;
				flex: 0 0 25%;
			}
		}


	}

	@media(max-width: 1023px) {
		.box-1__content {
			h5 {font-size: 2rem;}
		}
	}

	@media(max-width: 767px) {
		.box-1__content {
			h5 {font-size: 1.8rem;}
		}
	}
}


.box__collapse {
	border: 1px solid $gray-lighter;
	border-bottom: 0;
	&:last-child {border-bottom: 1px solid $gray-lighter;}

	& + .box__collapse {border-top: 1px solid $gray-lighter;}

	.box__collapse--trigger {
		h1, h2, h3, h4, h5, h6 {margin: 0;}

		&.has-picto {
			button {
				&:after {
					position: absolute;
					right: 0;
					top: 0;
					content: "\f067";
					font-family: $icon-font-family;
					font-weight: 900;
					padding: 2rem 3rem;
				}

				&[aria-expanded="true"] {
					background-color: $gray-lighter;@include transition(0.2s);
					&:after {content: "\f068";}
				}
			}
		}

		button {
			position: relative;
			display: block;
			width: 100%;
			text-align: left;
			background-color: $gray-lightest;
			color: $gray-darker;
			font-weight: 600;
			padding: 2rem 3rem;
			letter-spacing: 0.5px;
			@include transition(0.2s);

			&:hover, &:focus {background-color: $gray-lighter;@include transition(0.2s);}
		}
	}

	.box__collapse--content {
		padding: 3rem;
		display: none;

		&.is-expanded {
			display: block;
		}
	}
}

.box-2 {
	h2 {margin-bottom: 3rem;}
}

.box-3 {
	.box-3__image {
		height: 250px;
		@include flex-container();
		@include flex-v-align-center();
		@include flex-h-align-center();
		img {max-height: 70%;}
	}
}

.grid-flex .box-3 p {
	padding: 0 4rem;
}


.box-formation {
	box-shadow: 0 17px 12px 0 #f6f6f6;
	border: 1px solid #f1f1f1;
	padding: 3rem;
	border-radius: 4px;

	.box-formation__header {
		h2 {font-size: 3rem;max-width: 80%;}
	}

	.box-formation__content {
		.content__title {
			margin-top: 3.5rem;
			font-weight: 900;
			margin-bottom: 0;
			text-transform: uppercase;
			margin-bottom: 0.5rem;
		}

		.content__list {
			li {
				display: inline-block;
				border-radius: 100px;
				border: 1px solid #eaeaea;
				padding: 0.5rem 1.5rem;
				font-size: 1.6rem;
				font-weight: 500;
				margin-right: 1rem;
				margin-bottom: 1rem;
			}
		}

		.content__grid {
			background-color: #f5f5f5;
			margin: 2rem -3rem;

			.column {
				height: 70px;
				align-items: center;
				justify-content: center;
				font-size: 1.6rem;
				@include flex-container();
				border-right: 1px solid #dddddd;
				&:last-child {border: 0;}
				div {
					@include flex-container();
					align-items: center;
					justify-content: center;
				}

				i {margin-right: 1rem;}
				small {
					display: block;
					padding-left: 0rem
				}
			}

			@media(max-width: 767px) {
				.column {
					max-width: 33.3333%;
					flex: 0 0 33.3333%;
					font-size: 1.5rem;
				}
			}
		}
	}

	.box-formation__footer {
		.btn {
			display: block;
			text-align: center;
		}
	}

	&.box-formation--highlight {
		background-color: $main-color;
		box-shadow: 0 17px 12px 0 #dddddd;
		position: relative;

		&:before {
			position: absolute;
			content: "\f005";
			right: 3rem;
			top: 2rem;
			font-family: $icon-font-family;
			font-weight: 900;
			color: #fff;
			font-size: 3rem;
		}

		.box-formation__header {
			h2 {color: #ffffff;}
		}

		.box-formation__content {
			.content__title, .content__text {
				color: #ffffff;
			}

			.content__list {
				li {
					border: 1px solid #ffffff;
					color: #ffffff;
				}
			}

			.content__grid {
				background-color: #ffffff;
			}
		}

		.box-formation__footer {
			.btn {
				background-color: #ffffff;
				color: $main-color;

				&:hover {
					border-color: #ffffff;
					background-color: $main-color;
					color: #ffffff;
				}
			}
		}
	}
}


.box-highlight {
	width: 100%;
	background-color: $main-color;
	border-radius: 0 5px 5px 0;
	position: relative;
	margin-top: 5rem;
	margin-bottom: 3rem;
	padding: 3rem 0;
	padding-right: 3rem;
	h2 {margin-top: 0!important;}

	h2, p, ul li a, ul li {
		color: #ffffff;
	}

	ul li:before {color: #ffffff;}

	&:before {
		position: absolute;
		content: "";
		background-color: $main-color;
		left: -100%;
		top: 0;
		bottom: 0;
		width: 100%;
	}

}


.box-service-1 {
	background-color: #ffffff;
	text-align: center;
	padding: 6rem 4rem;
	border-radius: 4px;
	display: block;
	box-shadow: 0;
	@include transition(0.3s);

	&:hover {
		box-shadow: 1px 2px 35px -4px rgba(0,0,0,0.6);
		@include transition(0.3s);
	}

	h3 {
		text-transform: uppercase;
		color: $main-color;
		font-weight: 900;
		margin-bottom: 0;
		font-size: 3rem;
		margin-top: 0;
	}

	span {
		color: $gray-darkest;
		font-weight: 700;
		font-size: 2.6rem;
		display: block;
		margin-bottom: 3rem;
	}

	p {
		color: $color-text!important;
	}
}

.box-job {
	@include flex-container();
	@include flex-v-align-center();
	@include transition(0.2s);
	border-radius: 4px;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
	position: relative;
	padding: 2rem;
	border: 1px solid $gray-lightest;

	.box-job__image {
		text-align: center;
		flex: 0 0 15%;
		img {width: 60px;}
	}

	.box-job__content {
		@include flex-container();
		@include flex-direction-column();
		padding-left: 1rem;

		h3 {
			color: $main-color;
			font-size: 2.4rem;
			margin-bottom: 0;
			margin-top: 0;
		}

		.content__type {
			font-weight: 600;
			font-size: 1.8rem;
			color: $gray-darkest;
		}

		.content__location {
			font-weight: 600;
			font-size: 1.6rem;
			color: $color-text;
		}

		.content__date {
			position: absolute;
			right: 3rem;
			bottom: 2rem;
			font-size: 1.4rem;
			padding-right: 1rem;
			color: $color-text;

			&:after {
				position: absolute;
				content: "\f017";
				font-family: $icon-font-family;
				font-weight: 500;
				right: -1rem;
				color: $main-color;
			}
		}
	}

	&:hover {
		background-color: rgba($main-color, 0.8);
		@include transition(0.2s);
		.box-job__content {
			h3, .content__location, .content__type, .content__date, .content__date:after {color: #ffffff;}
		}
	}

	@media(max-width: 767px) {
		.box-job__content {
			padding-left: 2rem;
		}
	}
}

.box-infos-contact {
	background: $main-color;
	background: -moz-linear-gradient(left, $main-color 0%, $secondary-color 100%);
	background: -webkit-linear-gradient(left, $main-color 0%,$secondary-color 100%);
	background: linear-gradient(to right, $main-color 0%,$secondary-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$main-color', endColorstr='$secondary-color',GradientType=1 );
	padding: 5rem;
	color: #ffffff;
	border-radius: 4px;

	a {color: #ffffff;}

}
