.btn {
  display: inline-block;
  padding: 2rem 3.5rem;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  font-size: 1.5rem;
  border: 1px solid transparent;
  text-decoration: none;
  background-origin: border-box;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  @include transition(0.2s);


  &[class*=fa-] {
    padding: 1rem 5rem 1rem 2rem;

    &.big {padding: 1.5rem 6rem 1.5rem 3rem;}
  }

  &:before {
    position: absolute;
    right: 19px;
    top: 50%;
    @include translateY(-50%);
    font-family: $icon-font-family;
    font-weight: 900;
    font-size: 18px;
  }

  &:hover {@include transition(0.2s);text-decoration: none;}

  &.bg-white {
    color: $main-color;
    &:hover, &:focus {background-color: $main-color;color: white;}
  }

  &.bg-white-2 {
    background-color: #ffffff;
    color: $main-color;
    &:hover, &:focus {background-color: $main-color;color: white;border-color: #ffffff;}
  }

  &.bg-main-color-dark {
    &:hover, &:focus {background-color: darken($main-color-dark, 20%);}
  }

  &.bg-main-color {
    &:hover, &:focus {background-color: $main-color-light;}
  }

  &.small {
    font-size: 1.3rem;
    padding: 1rem 2rem;

    &:before {
      right: 15px;
      font-size: 1.6rem;
    }
  }

  &.big {
    font-size: 1.8rem;
    padding: 1.5rem 5rem;

    &:before {
      right: 19px;
      font-size: 1.8rem;
    }
  }



  &.inverse {
    &.bg-white {
      border-color: #ffffff;
      color: #ffffff;
      background-color: transparent;
    }

    &.bg-main-color {
      border-color: $main-color;
      color: $main-color;
      background-color: #ffffff;
    }

    &.bg-main-color-dark {
      border-color: $main-color-dark;
      color: $main-color-dark;
      background-color: #ffffff;
    }

    font-weight: 500;

    &:hover, &:focus {
      color: #ffffff;

      &.bg-white {
        border-color: $main-color;
        color: #ffffff;
        background-color: $main-color;
      }

      &.bg-main-color {
        border-color: $main-color-light;
        color: #ffffff;
        background-color: $main-color-light;
      }

      &.bg-main-color-dark {
        border-color: $main-color-dark;
        color: #ffffff;
        background-color: $main-color-dark;
      }
    }
  }
}
