.grid-flex {
  @include flex-container;
  flex-wrap: wrap;
  margin: 0 -1.5rem;

  [class^=column] {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 1.5rem;

    &.example {
      background-color: $main-color-light;
      border: 1px solid $main-color;
      color: #000000
    }
  }


  & + .grid-flex {margin-top: 1.5rem;}

  &.h-align-left {justify-content: flex-start;}
  &.h-align-middle {justify-content: center;}
  &.h-align-right {justify-content: flex-end;}

  &.v-align-top {align-items: flex-start;}
  &.v-align-middle {align-items: center;}
  &.v-align-bottom {align-items: flex-end;}


  //Loop for creating width class
  @for $i from 1 through 100 {
    @if ($i == 33) {
      .w-#{$i} { max-width: 33.3333%;flex: 0 0 33.3333%; }
    }

    @elseif ($i == 66) {
      .w-#{$i} { max-width: 66.6667%;flex: 0 0 66.6667%; }
    }

    @else {
      .w-#{$i} { max-width: percentage($i / 100);flex: 0 0 percentage($i / 100); }
    }
  }


  //Loop for creating offset
  @for $i from 1 through 100 {
    @if ($i == 33) {
      .o-#{$i} { margin-left: 33.3333%;}
    }

    @elseif ($i == 66) {
      .o-#{$i} { margin-left: 66.6667%;}
    }

    @else {
      .o-#{$i} { margin-left: percentage($i / 100);}
    }
  }

  @media(max-width: 767px) {
    .column {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}


.grid-1 {
  @include flex-container();

  .column {
    flex: 0 0 50%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    align-items: center;
    @include flex-container();

    &:first-child {
      padding-left: 15rem;
      padding-right: 5rem;
    }
  }

  @media(max-width: 1440px) {
    .column {
      &:first-child {
        padding-left: 3rem;
      }
    }
  }

  @media(max-width: 767px) {
    display: block;
    .column {
      display: block;
      align-items: inherit;
      text-align: center;
      min-height: inherit;
      padding: 0 3rem!important;
      &:first-child {
        padding-right: 0;
      }

      &:last-child {
        display: none;
      }
    }
  }
}

.section-1:nth-child(3) .grid-1 .column {
  &:first-child {
    @include flex-order(2);
  }
}

.grid-formations {
  @media(max-width: 1440px) {
    .column.w-33 {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }

  @media(max-width: 767px) {
    .column.w-33 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}


.grid-contact-banner {
  .column:last-child {text-align: right;}

  @media(max-width: 767px) {
    .column {text-align: center!important;}
  }
}

.grid-awards {
  img {width: 250px;}
}

.grid-customers {
  justify-content: center;
  img {
    width: 150px;
    margin: auto;
  }

  @media(max-width: 1024px) {
    img {
      width: 100px;
      margin: auto;
    }
  }

  @media(max-width: 767px) {
    .column {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}
