.grid-flex {
  @include flex-container;
  flex-wrap: wrap;
  margin: 0 -1.5rem;

  [class^=column] {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 1.5rem;

    &.example {
      background-color: $main-color-light;
      border: 1px solid $main-color;
      color: #000000
    }
  }


  & + .grid-flex {margin-top: 1.5rem;}

  &.h-align-left {justify-content: flex-start;}
  &.h-align-middle {justify-content: center;}
  &.h-align-right {justify-content: flex-end;}

  &.v-align-top {align-items: flex-start;}
  &.v-align-middle {align-items: center;}
  &.v-align-bottom {align-items: flex-end;}


  //Loop for creating width class
  @for $i from 1 through 100 {
    @if ($i == 33) {
      .w-#{$i} { max-width: 33.3333%;flex: 0 0 33.3333%; }
    }

    @elseif ($i == 66) {
      .w-#{$i} { max-width: 66.6667%;flex: 0 0 66.6667%; }
    }

    @else {
      .w-#{$i} { max-width: percentage($i / 100);flex: 0 0 percentage($i / 100); }
    }
  }


  .w-20 { max-width: 20%;flex: 0 0 20%; }
  .w-25 { max-width: 25%;flex: 0 0 25%; }
  .w-33 { max-width: 33.3333%;flex: 0 0 33.3333%; }
  .w-50 { max-width: 50%;flex: 0 0 50%; }
  .w-60 { max-width: 60%;flex: 0 0 60%; }
  .w-66 { max-width: 66.6667%;flex: 0 0 66.6667%; }
  .w-70 { max-width: 70%;flex: 0 0 70%; }
  .w-75 { max-width: 75%;flex: 0 0 75%; }
  .w-80 { max-width: 80%;flex: 0 0 80%; }
  .w-100 { max-width: 100%;flex: 0 0 100%; }

  @media(max-width: 767px) {
    .column {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}


.grid-1 {
  @include flex-container();

  .column {
    flex: 0 0 50%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    align-items: center;
    @include flex-container();

    &:first-child {
      padding-left: 15rem;
      padding-right: 5rem;
    }
  }

  @media(max-width: 1440px) {
    .column {
      &:first-child {
        padding-left: 3rem;
      }
    }
  }

  @media(max-width: 767px) {
    display: block;
    .column {
      display: block;
      align-items: inherit;
      text-align: center;
      min-height: inherit;
      padding: 0 3rem!important;
      &:first-child {
        padding-right: 0;
      }

      &:last-child {
        display: none;
      }
    }
  }
}

.section-1:nth-child(3) .grid-1 .column {
  &:first-child {
    @include flex-order(2);
  }
}

.grid-formations {
  @media(max-width: 1440px) {
    .column.w-33 {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }

  @media(max-width: 767px) {
    .column.w-33 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}


.grid-contact-banner {
  .column{text-align: center;}

  h2 {
    font-size: 3.5rem;
    margin-top: 0!important;

  }

  @media(max-width: 767px) {
    .column {text-align: center!important;}
  }
}

.grid-contact {
  text-align: center;
  img {max-width: 250px;}
  p:last-of-type {min-height: 50px;}
  h2
  {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    min-height: 100px;
  }

  @media(max-width: 1024px) {
    h2 {font-size: 2.6rem;}
  }

  @media(max-width: 767px) {
    p:last-of-type {min-height: inherit;}
    h2 {min-height: inherit;}

    a {margin-bottom: 5rem;}
  }
}

.grid-jobs {
  margin-bottom: 5rem;
}

.grid-awards {
  img {width: 250px;}

  @media(max-width: 767px) {
    .column {
      max-width: 33.3333%;
      flex: 0 0 33.3333%;
    }

    img {width: 200px;}
  }

  @media(max-width: 375px) {
    .column {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}

.grid-policy {
  img {width: 250px;}

  text-align: left;

  @media(max-width: 767px) {
    .column {
      max-width: 33.3333%;
      flex: 0 0 33.3333%;
    }

    img {width: 200px;}
  }

  @media(max-width: 375px) {
    .column {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}

.grid-customers {
  justify-content: center;
  img {
    width: 150px;
    margin: auto;
  }

  @media(max-width: 1024px) {
    .column {
      max-width: 20%;
      flex: 0 0 20%;
    }
    img {
      width: 100px;
      margin: auto;
    }
  }

  @media(max-width: 767px) {
    .column {
      max-width: 33.3333%;
      flex: 0 0 33.3333%;
    }
  }

  @media(max-width: 375px) {
    .column {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}

.grid-2-columns {

  &.is-different {
    display: none;
  }

  @media(min-width: 1024px) {
    &.is-fixed {
      .wrapper {
        position: absolute;
        right: 3rem;
        left: 3rem;
      }
    }
  }

  .column.w-70 {
    padding-bottom: 10rem;
    padding-right: 8rem
  }

  .column.w-30 {
    background-color: $main-color;
    padding: 3rem;
    position: relative;

    .title {color: #ffffff;font-weight: 600;font-size: 2.6rem;}
  }

  @media(max-width: 1023px) {
    &.is-different {
      display: block;
    }
    margin-bottom: 5rem;
    .column {
      max-width: 100%;
      flex: 0 0 100%;

      &.w-70 {padding-right: 1.5rem;}
    }
  }
}

.grid-button-infos-formation {
  @media(max-width: 767px) {
    .column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media(max-width: 375px) {
    .column {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }
}

.grid-board {
  @media(max-width: 768px) {
    .column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media(max-width: 375px) {
    .column {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.grid-values {
  @media(max-width: 767px) {
    .column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media(max-width: 360px) {
    .column {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}


.grid-2 {

  &:nth-child(odd) {
    .box-service-1 {
      .box-service-1__content {@include flex-order(1);}
    }
  }

  @media(max-width: 767px) {
    & + .grid-2 {
      margin-top: 5rem;
    }
  }
}
