.page-header {
  @include position(fixed,0,0,auto,0);
  background-color: #ffffff;
  box-shadow: -2px 0px 10px -3px rgba(0, 0, 0, 0.2);
  z-index: 3;

  .page-logo-color, .page-logo-white {
    flex: 1 0 20%;
    img {width: 200px;}
  }

  .page-wrapper {
    @include flex-container();
    align-items: center;
  }

  .page-nav {
    flex: 0 0 70%;
    max-width: 70%;
    text-align: right;

    .nav-primary {
      > li {
        display: inline-block;
        font-family: $font-family;

        &:before {display: none;}
        &.has-sub-level {
          position: relative;
          &:after {
            position: absolute;
            top: 3.3rem;
            right: 0;
            content: "\f078";
            font-family: $icon-font-family;
            font-weight: 900;
            font-size: 1.4rem;
            color: $main-color;
          }
        }

        &.is-selected a{
          color: $main-color;
        }

        >  a {
          display: block;
          font-family: $font-family;
          padding: 2rem 2rem;
          position: relative;
          color: $color-text;
          font-weight: 600;
          @include flex-container();
          align-items: center;
          font-size: 1.6rem;

          i {
            display: none;
            margin-right: 1.5rem;
            font-size: 2.2rem;
          }

          &:after {
            @include position(absolute, auto,0,-4px,0);
            content: "";
            width: 0;
            height: 2px;
            background-color: $main-color;
          }
        }

        &.is-selected a {
          color: $main-color;
          &:after {width: 100%;}
        }

        ul {
          position: absolute;
          background-color: #ffffff;
          display: none;
          width: 300px;
          text-align: left;
          box-shadow: 3px 7px 4px -6px rgba(0,0,0,.2);
          border: 1px solid $gray-lightest;
          > li {
            border-bottom: 1px solid $gray-lightest;
            background-color: #ffffff;
            &:last-child {border: 0;}
            > a {
              display: block;
              padding: 2rem;
              &:hover {background-color: $main-color-lighter;}

            }
          }
        }

        &.has-sub-level.show:after {@include rotate(-180deg);}
        &.show, &.show:hover {
          ul {display: block;}
        }

        &:hover {
          &.has-sub-level:after {@include rotate(-180deg);}
          > a {color: $main-color}
          > a:after {width: 100%;}
          ul {
            display: block;
          }
        }
      }
    }
  }

  @media(max-width: 767px) {
    @include transition(0.3s);
    @include translateX(-100%);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 300px;

    .nav-lang {
      display: none;
    }

    .page-wrapper {
      @include flex-direction-column();
      padding: 0;

      &.full-width {max-width: inherit;}
    }

    .page-logo-color, .page-logo-white {
      padding: 5rem 0;
      display: none!important;
    }

    .page-nav {
      max-width: 100%;
      width: 100%;
      flex: 1;
      text-align: left;

      .nav-primary {
        > li {
          display: block;
          margin: 0;

          &.has-sub-level:after {color: $main-color;right: 3rem;}

          > a {
            color: $main-color;
            text-align: left;
            padding: 3rem;
            padding-right: 5rem;
            &:after {content: none;}

            &:focus {outline: 1px solid #ffffff;}

            i {display: inline-block;}
          }

          ul {
            position: relative;
            box-shadow: none;
            border: 0;
            li {
                border: 0;
              a {
                padding-left: 5rem;
              }
            }
          }

          &:hover {
            background-color: $main-color-lightest;

            &.has-sub-level {
              &:after {@include rotate(0);}
              ul {display: none;}
              &.show {
                &:after {@include rotate(180deg);}
                background-color: $main-color-lightest;
                ul {
                  background-color: $main-color-lightest;
                  display: block;
                  li {
                    background-color: $main-color-lightest;
                  }
                }
              }
            }

            &.has-sub-level:not(.show):after {@include rotate(0deg);}
            ul {display: none;}
          }
        }
      }
    }

    &.bottom-bar-mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;
      width: 100%;
      height: auto;
      transform: none;
      -webkit-transform: none;
      background-color: #ffffff;
      overflow-y: visible;

      .page-nav {
        .nav-primary {
          @include flex-container();
          @include flex-direction-row();
          overflow: hidden;
          border-top: 2px solid $main-color;
          > li {
            flex: 1 0 0;
            text-align: center;

            &:before {
              font-size: 2.6rem;
              display: block;
              left: 0;
              right: 0;
              top: 9px;
              position: absolute;
              color: #000000;
            }

            &:hover {background-color: $main-color-lightest;}

            &.has-sub-level {
              &:after {content: none;}
            }

            > a {
              display: block;
              text-align: center;
              padding: 2rem 1rem 1rem;
              font-size: 1.2rem;
              color: $gray-darkest;
              position: relative;
              top: 10px;
              line-height: 3;

              &:focus {
                outline: none;
              }
            }

            &.is-selected {
              color: #ffffff;

              a {color: #ffffff;}
              background-color: $main-color;
            }

            &.show ul {display: none!important;}
            &.show:hover ul {display: none!important;}
            &:hover ul {display: none!important;}
            ul {display: none!important;}
            ul:hover {display: none!important;}
          }
        }
      }

      & + .page-header-mobile {
        position: absolute;
        background-color: #ffffff;

        .trigger-nav-container {
          display: none;
        }

        .page-logo-color {display: none;}
        .page-logo-white {display: inline-block;}
      }
    }
  }

  @media(max-width: 767px) {
    .page-nav {

      .nav-primary {
        li {
          position: relative;
          &.is-selected:before {color: #ffffff;}

          > a {
            @include position(absolute, 0,0,0,0);
          }
        }
      }
    }
  }

  @media(max-width: 320px) {
    .page-nav {
      .nav-primary {
        li {
          //&:first-child {display: none;}
        }
      }
    }
  }
}

.nav-lang {
  flex: 0 0 10%;
  max-width: 10%;
  text-align: right;

  li {
    display: inline-block;
    margin-left: 2rem;
    &:first-child {margin: 0;}

    a {
      font-weight: 600;
      font-size: 1.6rem;
      color: #9d9ea3;
      position: relative;

      &.nav-lang--selected {color: $main-color;}

      &:after {
        content: "/";
        position: absolute;
        right: -17px;
        top: -1px;
        color: #9d9ea3;
      }
    }

    &:last-child a:after {content: none;}
  }
}

.page-header + .page-header-mobile {
  .page-logo-white {display: none;}
}


.page-header-mobile {
  display: none;
  padding: 2rem;
  z-index: 3;
  box-shadow: -2px 0px 10px -3px rgba(0, 0, 0, 0.2);

  .page-logo-color img, .page-logo-white img {
    width: 200px;
  }

  @media(max-width: 767px) {
    display: block;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .nav-lang {
      position: absolute;
      right: 3rem;
      top: 3.4rem;
      max-width: 20%;
      flex: 0 0 20%;

      a {font-size: 2rem;}
    }

    .page-logo-color img, .page-logo-white img {
      width: 150px;
    }
  }

  @media(max-width: 320px) {
    padding: 1rem 2rem;

    .nav-lang {
      top: 2.8rem;
    }
  }

}
