.section-1 {
  box-shadow: 0 17px 12px 0 #f6f6f6;
  padding: 5rem;
  margin-bottom: 5rem;
  border: 1px solid #f1f1f1;

  @media(max-width: 1024px) {
    padding: 4rem;
  }

  @media(max-width: 767px) {
    padding: 4rem 2rem;
  }
}

.section-bg-gradient {
  background: $main-color;
  background: -moz-linear-gradient(left, $main-color 0%, $secondary-color 100%);
  background: -webkit-linear-gradient(left, $main-color 0%,$secondary-color 100%);
  background: linear-gradient(to right, $main-color 0%,$secondary-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$main-color', endColorstr='$secondary-color',GradientType=1 );

  padding: 5rem 0;
  text-align: center;
  p {color: #ffffff;}
  h2 {color: #ffffff;margin-top: 0!important;text-align: center;text-transform: uppercase;letter-spacing: 1px;margin-bottom: 3rem;}
}


.section-testimonial {
  color: #ffffff;
  text-align: center;
  padding: 10rem 0;
  margin: 0 -3rem 5rem;

  .page-wrapper {
    padding: 0 8rem;
  }

  blockquote {
    position: relative;
    padding-top: 2rem;
    line-height: 2;

    &:before {
      position: absolute;
      left: 0;
      top: -50px;
      font-family: $icon-font-family;
      font-weight: 900;
      content: "\f10d";
      font-size: 3.6rem;
    }

    &:after {
      position: absolute;
      right: 0;
      bottom: -50px;
      font-family: $icon-font-family;
      font-weight: 900;
      content: "\f10d";
      font-size: 3.6rem;
    }


    cite {
      margin-top: 2rem;
      display: block;
      font-weight: 700;
    }
  }
}



.section-2 {
  padding: 5rem 0;
  text-align: center;

  h2 {color: $gray-darkest;}
}


.section-3 {
  position: relative;
  padding: 7rem 0;
  background-position: right center;


  &:before {
    background: $main-color;
    background: -moz-linear-gradient(left, $main-color 50%, rgba($secondary-color, 0) 100%);
    background: -webkit-linear-gradient(left, $main-color 50%, rgba($secondary-color, 0) 100%);
    background: linear-gradient(to right, $main-color 50%, rgba($secondary-color, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$main-color', endColorstr='$secondary-color',GradientType=1 );
    content: "";
    @include position(absolute, 0,0,0,0);
  }




  p {color: #ffffff;}
  h2 {color: #ffffff;margin: 0!important;text-transform: uppercase;letter-spacing: 1px;margin-bottom: 3rem;}
}
